.wrapper
	{
		margin: 0 auto;	
		
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 1.42857;
color: #333;
		
	}	
.navbar2
	{
	background: #fff;
    min-height: 40px;
    filter: none;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-bottom: 4px solid #df5b4c;
   }
.preview_content .sidebar2   
   
 {  width: 20%;

left: 0px;
bottom: 0px;
background: #F9F9F9 none repeat scroll 0% 0%;
float:left;
z-index: 700;
height:475px;

border-right: 6px solid #ECECEC;
}
.preview_content .sidebar2_red   
   
 {  width: 20%;

left: 0px;
bottom: 0px;
background: #F9F9F9 none repeat scroll 0% 0%;
float:left;
z-index: 700;
height:475px;

border-right: 6px solid #ECECEC;
}
.preview_content .sidebar2_orange   
   
 {  width: 20%;

left: 0px;
bottom: 0px;
background: #F9F9F9 none repeat scroll 0% 0%;
float:left;
z-index: 700;
height:475px;

border-right: 6px solid #ECECEC;
}
.preview_content .sidebar2_blue   
   
 {  width: 20%;

left: 0px;
bottom: 0px;
background: #F9F9F9 none repeat scroll 0% 0%;
float:left;
z-index: 700;
height:475px;

border-right: 6px solid #ECECEC;
}
.preview_content .sidebar2_green   
   
 {  width: 20%;

left: 0px;
bottom: 0px;
background: #F9F9F9 none repeat scroll 0% 0%;
float:left;
z-index: 700;
height:475px;

border-right: 6px solid #ECECEC;
}

   
.preview_content .sidebar2 li a{
   display: block;
position: relative;
margin: 0px;
border: 0px none;
padding: 15px 15px 15px 20px;
color: #555;

text-shadow: 0px 1px 0px #FFF;
font-size: 11px;
font-weight: 600;
text-transform: uppercase;
text-decoration: none;
}
.preview_content .sidebar2_red li a{
   display: block;
position: relative;
margin: 0px;
border: 0px none;
padding: 15px 15px 15px 20px;
color: #555;

text-shadow: 0px 1px 0px #FFF;
font-size: 11px;
font-weight: 600;
text-transform: uppercase;
text-decoration: none;
}
.preview_content .sidebar2_orange li a{
   display: block;
position: relative;
margin: 0px;
border: 0px none;
padding: 15px 15px 15px 20px;
color: #555;

text-shadow: 0px 1px 0px #FFF;
font-size: 10px;
font-weight: 600;
text-transform: uppercase;
text-decoration: none;
}
.preview_content .sidebar2_blue li a{
   display: block;
position: relative;
margin: 0px;
border: 0px none;
padding: 15px 15px 15px 20px;
color: #555;

text-shadow: 0px 1px 0px #FFF;
font-size: 11px;
font-weight: 600;
text-transform: uppercase;
text-decoration: none;
}
.preview_content .sidebar2_green li a{
   display: block;
position: relative;
margin: 0px;
border: 0px none;
padding: 15px 15px 15px 20px;
color: #555;

text-shadow: 0px 1px 0px #FFF;
font-size: 11px;
font-weight: 600;
text-transform: uppercase;
text-decoration: none;
}
.preview_content .nav
{
	list-style: outside none none;
margin: 0px 0px;
padding: 0px;
border-right: 1px solid #d1d1d1;
	
}
.preview_content .sidebar2 ul.nav li {
    display: block;
    margin: 0px;
    padding: 0px;
    border-width: 0px 0px 1px;
    border-style: none none solid;
    border-color: -moz-use-text-color -moz-use-text-color #EBEBEB;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-bottom: 1px solid #ebebeb;
   }
.preview_content .sidebar2_red ul.nav li {
    display: block;
    margin: 0px;
    padding: 0px;
    border-width: 0px 0px 1px;
    border-style: none none solid;
    border-color: -moz-use-text-color -moz-use-text-color #EBEBEB;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-bottom: 1px solid #ebebeb;
   }   
   .preview_content .sidebar2_orange ul.nav li {
    display: block;
    margin: 0px;
    padding: 0px;
    border-width: 0px 0px 1px;
    border-style: none none solid;
    border-color: -moz-use-text-color -moz-use-text-color #EBEBEB;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-bottom: 1px solid #ebebeb;
   }
.preview_content .sidebar2_blue ul.nav li {
    display: block;
    margin: 0px;
    padding: 0px;
    border-width: 0px 0px 1px;
    border-style: none none solid;
    border-color: -moz-use-text-color -moz-use-text-color #EBEBEB;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-bottom: 1px solid #ebebeb;
   }
   .preview_content .sidebar2_green ul.nav li {
    display: block;
    margin: 0px;
    padding: 0px;
    border-width: 0px 0px 1px;
    border-style: none none solid;
    border-color: -moz-use-text-color -moz-use-text-color #EBEBEB;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-bottom: 1px solid #ebebeb;
   }
.crubs
{

    height: 30px;
    background: #f9f9f9;
    float:left;
    width: 79%;
    border-bottom: 1px solid #d9d9d9;
} 
  
.crubs ul
{
	margin: 0px;
	padding-left:15px;
	
	
}
.crubs li
{
list-style: none;
}
.preview_content .sidebar2 ul.nav li a i {
   color: #6f6f6f;
   padding-right: 10px;
   float: left;
   line-height: 20px;
}
.preview_content .sidebar2 ul.nav li .arrow {
    line-height: 20px;
    position: absolute;
    right: 10px;
}	
.preview_content .sidebar2_orange ul.nav li .arrow {
    line-height: 20px;
    position: absolute;
    right: 10px;
}
.preview_content .sidebar2_red ul.nav li .arrow {
    line-height: 20px;
    position: absolute;
    right: 10px;
}
.preview_content .sidebar2_blue ul.nav li a i {
   color: #6f6f6f;
   padding-right: 10px;
   float: left;
   line-height: 20px;
}
.preview_content .sidebar2_blue ul.nav li .arrow {
    line-height: 20px;
    position: absolute;
    right: 10px;
}	
.preview_content .sidebar2_green ul.nav li a i {
   color: #6f6f6f;
   padding-right: 10px;
   float: left;
   line-height: 20px;
}
.preview_content .sidebar2_green ul.nav li .arrow {
    line-height: 20px;
    position: absolute;
    right: 10px;
}
.widget-header2 {
    background: #f9f9f9;
    border-bottom-color: #d9d9d9;
    line-height: 35px;
    padding: 0 12px;
    margin-bottom: 0;
}
.widget-header2 {
    margin-bottom: 15px;
    border-bottom: 1px solid #ececec;
}	
.col-md-12_2
{

    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
float:left;  
width: 80%  
}
.widget-header2 h4 {
    display: inline-block;
    color: #555555;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    margin-bottom: 7px;
    
}   
.crubs li {
    float: left;
    font-size: 12px;
    padding-top: 2px;
    padding-right: 5px;
} 
.crubs .breadcrub2 {
    float: left;
    background-color: #f9f9f9;
    height: 0;
    margin-top: 1px;
}
.widget-content2 {
    
   
    background-color: #fff;
}
.widget-box2 {
    border: 1px solid #d9d9d9;
}
.form-group2 {
    
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
}
.form-group2 {
    padding-left: 0;
    padding-right: 0;
}
.form-group2 {
    margin-right: -12px;
    margin-left: -12px;
    margin-bottom: 25px;
}
.col-md-3_2
{
padding-right: 10px;
padding-left: 10px;
width:25%;
float:left;

}
.preview_content .form-control {
    height: 32px;
    font-size: 13px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.preview_content .input-width-xlarge {
    width: 270px !important;
}
.preview_content .input-group .form-control {
    display: table-cell;
}
.preview_content .form-control
{
display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}    
.col-md-2_2 {
    width: 16.666666666667%;
    
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
}
.control-label2 {
    text-align: right;
    font-size: 12px !important;
    font-weight: normal;
}
.btn2 {

  background-color: #f3f3f3;

  background-image: none;

  filter: none;

  border: 0;

  -webkit-box-shadow: none;

  -moz-box-shadow: none;

  box-shadow: none;

  padding: 4px 4px;

  text-shadow: none;

  font-size: 14px;

  font-weight: normal;

  color: #333333;

  font-size: 11px !important;

  cursor: pointer;

  border: 1px solid #d9d9d9;

  border: 1px solid rgba(0, 0, 0, 0.13);

  -webkit-border-radius: 0;

  -moz-border-radius: 0;

  border-radius: 0;

  position: relative;

  z-index: 1;

  -webkit-user-select: none;

  -moz-user-select: none;

  -ms-user-select: none;

  -o-user-select: none;

  user-select: none;
  text-decoration: none !important;

}
.form-group2.required .control-label2:after {
  content:"*";
  color:red;
}
.preview_content #sidebar2 ul#nav > li.current > a {

    border-right: 10px solid #FF8040;

}
.preview_content #sidebar2_red ul#nav > li.current > a {

    border-right: 10px solid #df5b4c;

}
.preview_content #sidebar2_blue ul#nav > li.current > a {

    border-right: 10px solid #FF8040;

}
.preview_content #sidebar2_green ul#nav > li.current > a {

    border-right: 10px solid #20B2AA;

}

.col-md-theme2
{
width: 16%;
float: left;
padding-left: 10px;
padding-right: 10px;	
}
.col-md-4_2
{
	width: 32%;
float: left;
padding-left: 10px;
padding-right: 10px;
	
}
.form-actions2 {

  padding: 19px 20px 20px;

  margin-top: 10px;

  

  background-color: #f5f5f5;

  border-top: 1px solid #e5e5e5;

  *zoom: 1;

}
.btn-primary2 {

  color: #ffffff;

  background-color: #FF8040;

  z-index: 2;

}
.btn-primary2_red {

  color: #ffffff;

  background-color: #df5b4c;

  z-index: 2;
  padding: 4px 4px;
  font-size: 11px !important;

}
.btn-primary2_orange {

  color: #ffffff;

  background-color: #FF8040;

  z-index: 2;
  padding: 4px 4px;
  font-size: 11px !important;

}
.btn-primary2_blue {

  color: #ffffff;

  background-color: #00bfff;

  z-index: 2;
  padding: 4px 4px;
  font-size: 11px !important;

}
.btn-primary2_green {

  color: #ffffff;

  background-color: #20B2AA;

  z-index: 2;
  padding: 4px 4px;
  font-size: 11px !important;

}
.btn-primary2:hover,

.btn-primary2:focus {

  color: #ffffff;

  background-color: #FFB848;

}
.footer2

{

background: #FF8040;

width: 100%;

float: left;
font-size: 12px;
 
    

}  
.footer2_inner

{

margin-top: 5px;    

}



.footer2 ul

{

list-style: none;    

}

.footer2 li

{

float: left;

padding-left: 4px;    

}

.footer2_2

{

float:left;    

width: 100%;

text-align: center;



background: #f5f5f5;

padding-bottom: 5px;

padding-top: 5px;    

}
.footer2 a{
color: #555 !important;	
}
.preview_content .breadcrub2 > li + li:before {

  font-family: FontAwesome;

  font-weight: normal;

  font-style: normal;

  text-decoration: inherit;

  -webkit-font-smoothing: antialiased;

  content: "\f105";

}
.footer2 h4{
font-size: 12px !important;	
}
.preview_content a {

  color: #de5b4c;
  text-decoration: none;

}
.navbar2 .nav > li > a {
    color: #000;
    font-size: 13px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 18px;
    padding-right: 18px;
}
.navbar2 .nav > li:first-child {

  border-left: 1px solid rgba(0, 0, 0, 0.21);

}
.logo2
{
float: left;	
}
.dropdown2
{
float: right;	
margin-right: 22px;
}

.preview_content .dropdown2 li{
list-style: none;	
} 

.dropdown2 a 
{
font-size: 12px;
color: #000000 !important;	
text-decoration: none;
padding-top: 10px;

  padding-bottom: 14px;

  padding-left: 18px;

  padding-right: 18px;

}
.preview_content .login2
{
	
}
.preview_content .login2 li
{
	list-style: none;
	
}
.preview_content .nav > li:first-child {

  border-left: 1px solid rgba(0, 0, 0, 0.21);

}
.preview_content .sidebar2 ul.nav ul.sub-menu {

  

  list-style: none;

  clear: both;

  margin: 0;

  padding: 0;

  font-size: 11px;

  background: #f1f1f1;

 

}
.preview_content .sidebar2_red ul.nav ul.sub-menu {

  

  list-style: none;

  clear: both;

  margin: 0;

  padding: 0;

  font-size: 11px;

  background: #f1f1f1;

 

}
.preview_content .sidebar2_orange ul.nav ul.sub-menu {

  

  list-style: none;

  clear: both;

  margin: 0;

  padding: 0;

  font-size: 11px;

  background: #f1f1f1;

 

}
.preview_content .sidebar2_blue ul.nav ul.sub-menu {

  

  list-style: none;

  clear: both;

  margin: 0;

  padding: 0;

  font-size: 11px;

  background: #f1f1f1;

 

}
.preview_content .sidebar2_green ul.nav ul.sub-menu {

  

  list-style: none;

  clear: both;

  margin: 0;

  padding: 0;

  font-size: 11px;

  background: #f1f1f1;

 

}
.preview_content .sidebar2 ul.nav > li.current > a {

    border-right: 5px solid #FF8040;

}
.preview_content .sidebar2_red ul.nav > li.current > a {

    border-right: 5px solid #df5b4c;

}
.preview_content .sidebar2_blue ul.nav > li.current > a {

    border-right: 5px solid #00bfff;

}
.preview_content .sidebar2_green ul.nav > li.current > a {

    border-right: 5px solid #20B2AA;

}
.preview_content .sidebar2_orange ul.nav > li.current > a {

    border-right: 5px solid #FF8040;

}

.login2 a{
border-right: 1px solid rgba(0, 0, 0, 0.21);
border-left: 1px solid rgba(0, 0, 0, 0.21);	
}
.login2 li {
    list-style: outside none none;
}
.navbar2_red{
background: #fff;
    min-height: 40px;
    filter: none;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-bottom: 4px solid #df5b4c;	
}
.navbar2_orange{
background: #fff;
    min-height: 40px;
    filter: none;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-bottom: 4px solid #FF8040;	
}

.navbar2_blue{
background: #fff;
    min-height: 40px;
    filter: none;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-bottom: 4px solid #99D9EA;	
}
.navbar2_green{
background: #fff;
    min-height: 40px;
    filter: none;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-bottom: 4px solid #66CDAA;	
}
.footer2_red {
    background: #df5b4c;

width: 100%;

float: left;
font-size: 12px;
}
.footer2_blue {
    background: #99D9EA;

width: 100%;

float: left;
font-size: 12px;
}
.footer2_orange {
    background: #FF8040;

width: 100%;

float: left;
font-size: 12px;
}
.footer2_red_inner

{

margin-top: 5px;    

}
.footer2_blue_inner

{

margin-top: 5px;    

}
.footer2_orange_inner

{

margin-top: 5px;    

}
.footer2_red ul

{

list-style: none;    

}


.footer2_blue ul

{

list-style: none;    

}
.footer2_orange ul

{

list-style: none;    

}

.footer2_blue li

{

float: left;

padding-left: 4px;    

}
.footer2_red li

{

float: left;

padding-left: 4px;    

}
.footer2_orange li

{

float: left;

padding-left: 4px;    

}

.footer2_2_red

{

float:left;    

width: 100%;

text-align: center;



background: #f5f5f5;

padding-bottom: 5px;

padding-top: 5px;    

} 

.footer2_2_blue

{

float:left;    

width: 100%;

text-align: center;



background: #f5f5f5;

padding-bottom: 5px;

padding-top: 5px;    

}
.footer2_2_orange

{

float:left;    

width: 100%;

text-align: center;



background: #f5f5f5;

padding-bottom: 5px;

padding-top: 5px;    

}
.footer2_red a{
color: #555 !important;	
font-size:10px;
font-weight:bold;
}
.footer2_blue a{
color: #555 !important;	
font-size:10px;
font-weight:bold;
}
.footer2_orange a{
color: #555 !important;	
font-size:10px;
font-weight:bold;
}
.footer2_red h4{
font-size: 12px !important;	
}
.footer2_blue h4{
font-size: 12px !important;	
}
.footer2_orange h4{
font-size: 12px !important;	
}

.footer2_green {
    background: #66CDAA;

width: 100%;

float: left;
font-size: 12px;
}
.footer2_green_inner

{

margin-top: 5px;    

}



.footer2_green ul

{

list-style: none;    

}

.footer2_green li

{

float: left;

padding-left: 4px;    

}

.footer2_2_green

{

float:left;    

width: 100%;

text-align: center;



background: #f5f5f5;

padding-bottom: 5px;

padding-top: 5px;    

}
.footer2_green a{
color: #555 !important;	
}
.footer2_green h4{
font-size: 12px !important;	
}

.col-md-4_2 input[type="text"]
{
padding: 0px 0px !important;
font-size: 11px !important;	
}
.btn_red
{
	padding: 4px 4px !important;
font-size: 11px !important;	
	
}
.btn_orange
{
	padding: 4px 4px !important;
font-size: 11px !important;	
	
}
.btn_blue
{
	padding: 4px 4px !important;
font-size: 11px !important;	
	
}
.btn_green
{
	padding: 4px 4px !important;
font-size: 11px !important;	
	
}
