<!DOCTYPE html>
<title> </title>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" href="bootstrap.css"> 		
		</head>
		<body>
			<header class="top-head left">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-lg-4">
							<img class="img-fluid logo " src="images/logo.png">
						</div>
						<div class="col-md-6 col-lg-3 offset-lg-5 admin-bar hidden-sm-down">
							<nav class="nav nav-inline">						
								
								<a href="#" class="nav-link">Admin User <img class="img-fluid rounded-circle" src="images/user.png">
									</a>
								</nav>
							</div>
						</div>
					</div>

				</header>
				<section class="banner-sec">
					<div class="container">
						<div class="row">
							<div class="col-md-3">
								<div class="card">
									<div class="hover-div">
										<a href="#" class="btn btn-success"> Watch Video </a>
									</div>
									<img class="img-fluid" src="images/1.jpg" alt="">
										<div class="card-img-overlay">
											<span class="tag tag-pill tag-danger">PMI</span>
										</div>
										<div class="card-block">
											<div class="news-title">
												<h2 class=" title-small">
													<a href="#">Social marketing for Business</a>
												</h2>
											</div>
											<p class="card-text">
												<small class="text-time">
													<em>3 mins ago</em>
												</small>
											</p>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="card">
										<div class="hover-div">
											<a href="#" class="btn btn-success"> Watch Video </a>
										</div>
										<img class="img-fluid" src="images/2.jpg" alt="">

											<div class="card-img-overlay">
												<span class="tag tag-pill tag-info">MCCI</span>
											</div>
											<div class="card-block">
												<div class="news-title">
													<h2 class=" title-small">
														<a href="#">Social marketing for Business</a>
													</h2>
												</div>
												<p class="card-text">
													<small class="text-time">
														<em>3 mins ago</em>
													</small>
												</p>
											</div>
										</div>
									</div>
									<div class="col-md-3">
										<div class="card">
											<div class="hover-div">
												<a href="#" class="btn btn-success"> Watch Video </a>
											</div>
											<img class="img-fluid" src="images/3.jpg" alt="">
												<div class="card-img-overlay">
													<span class="tag tag-pill tag-success">Task marketing</span>
												</div>
												<div class="card-block">
													<div class="news-title">
														<h2 class=" title-small description">
															<a href="#">Social marketing for Business</a>
														</h2>
													</div>
													<p class="card-text">
														<small class="text-time">
															<em>3 mins ago</em>
														</small>
													</p>
												</div>
											</div>
										</div>
										<div class="col-md-3">

											<div class="card"> 
												<div class="hover-div">
													<a href="#" class="btn btn-success"> Watch Video </a>
												</div>
												<img class="img-fluid" src="images/4.jpg" alt="">
													<div class="card-img-overlay">
														<span class="tag tag-pill tag-danger">Pune</span>
													</div>
													<div class="card-block">
														<div class="news-title">
															<h2 class=" title-small">
																<a href="#">Social marketing for Business</a>
															</h2>
														</div>
														<p class="card-text">
															<small class="text-time">
																<em>3 mins ago</em>
															</small>
														</p>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6 top-slider">
												<div class="news-block">
													<div class="news-media">
														<img class="images/1.jpg" alt="">
														</div>
														<div class="news-title">
															<h2 class=" title-large">
																<a href="#">Conference at PMI</a>
															</h2>
														</div>
														<div class="news-des"> 
           				                                  Rotary International Youth Exchange studentsYou simply give us your VIDEOS and AGENDA and leave the rest to us.
														  We will create Beautiful Webpage with your unique URL. 
														  Integrate it with your social networking sites and website.
														  Awesome User Interface and User Experience will make your event a HERO.       
														</div>
														<div class="time-text">
															<strong>2h ago</strong>
														</div>               
													</div>

												</div>
											</div>
										</div>
									</section>

									<footer class="action-sec">
										<div class="container">
											<div class="action-box text-center">
												<h2> Coolachariya Event  </h2>
											</div>
										</footer>
										<script  src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"/>
										<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript" />  
									</body>
								</html>

								